:root {
    --color-blue-medium: #8fe2e4;
    --color-purple: #632ce7;
    --color-gray: #ccc;
    --color-gray-mediem: #f8f9fa;
    --color-yellow: #fac32c;
   }

   /* ----General style---*/

a{
    color: inherit;
}

  /* ----> Nav  */

.navbar-brand > img {
width: 55px;
}

.navbar-main .active{
    text-decoration: underline wavy var(--color-purple);
    text-underline-offset: 9px;
}