#line{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 2px;
  height: 12rem;
  background-color: white;
  top: 10px;
  bottom: 10px;
}



